.container {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */

}

.content {
    width: 100%;
    height: 100%;
}

.f {
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fcont {
    width: 40%;
    height: max-content;
    padding-bottom: 3px;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 0px rgba(57, 57, 57, 0.5);
}

.fcont1 {
    margin-top: -7%;
    width: 40%;
}

.imgi {
    margin-left: 72px;
    width: 50%;
    height: 190px;
    background-color: rgb(206, 208, 210);
    border-radius: 10px;
    /* border: 4px solid black; */
    /* object-fit: cover; */
    box-shadow: 2px 2px 4px rgba(0.8, 0, 0, 0.8);
}

.imgi img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.ra {
    width: 140px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
}

.s {
    width: 100%;
    height: 100%;
}

.nav1 {
    width: 50%;
    height: 70px;
}

.ul {
    margin-left: 56%;
    border-radius: 15px;
    width: 40%;
    height: 70px;
    background-color: rgb(178, 173, 162);
    position: fixed;
    margin-top: 9%;
}

.link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

.pitch {
    width: 50%;
    /* border:2px solid skyblue; */
}

.pitchcont {
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}

.pitchcont img {
    width: 100%;
}

.wti {
    width: 50%;
}

.wticont {
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}

.wticont img {
    width: 100%;
}

.about {
    width: 50%;
    height: max-content;
    /* border: 2px solid green; */
    margin-left: 30px;
}

.abountcont {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.ceo {
    width: 220px;
    height: max-content;
    /* border: 2px solid seagreen; */
}

.cto {
    width: 220px;
    height: max-content;
    /* border: 2px solid seagreen; */
}

.board {
    width: 220px;
    height: max-content;
    /* border: 2px solid seagreen; */
}

.cimg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ld {
    color: white;
    background-color: rgb(2, 56, 218);
}

.term1 {
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(154, 75, 88); */
    margin-left: 30px;
}

.termcont {
    width: 100%;
}

.over {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    margin-top: 15px;
}

.common {
    color: rgb(142, 138, 138);
}

.cmc {
    color: #185c65;
    border-radius: 60px;
}

.breakd {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    margin-top: 15px;
    margin-bottom: 24px;
}

li {
    cursor: pointer;
}

#equity-btn {
    /* line-height: 40px; */
    text-align: center;
    background-color: rgb(79, 72, 72);
    color: white;
    width: 350px;
    height: 50px;
    margin-left: 15px;
    border-radius: 8px;
    box-shadow: 1px 4px 4px rgba(201, 201, 196, 0.94);
    cursor: pointer;

}
#equity-btn:hover{
    background-color: rgb(40, 34, 34);
}

#fixed-container {

    background-color: rgba(117, 111, 111, 0.852);
    width: 380px;
    height: 220px;
    margin-left: 56%;
    /* margin-top: -20%; */
    /* position: fixed; */
    border-radius: 14px;
    box-shadow: 2px 2px 4px rgba(46, 46, 42, 0.9);

    position: fixed;
    /* left: 50%;  */
    /* transform: translateX(-50%); */
    top: 51%;
    /* transform: translateY(-50%); */

}

#p-t1 {
    padding-top: 17px;
    padding-left: 95px;
    font-size: 18px;
}

#raised {
    padding-top: 20px;
    padding-left: 60px;
    font-size: 18px;
}

#investor-span {
    padding-left: 120px;
}

#raised-number{
    padding-top: 2px;
    padding-left: 60px;
    font-weight: 700;
}

#investor-number{
    padding-left: 120px;
}
.fix-content {}