.cont {
    background: -webkit-linear-gradient(360deg, #383836 10%, #585555 360%);
    width: 100%;
    margin-top: 5%;
}

.server-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #fff;
}

#server-error-img {
    max-width: 100%;
    height: auto;
}


#server-error-text{
    color: red;
    position: absolute;
    margin: 20% 30% 30% 76%;
    font-size: 30px;
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
    background-color: #fbf8f8;
}


#question-mark-id{
    position: absolute;
    margin-left: 11%;
    margin-top: 25px;
    font-size: 50px;
    font-weight: 600;
}
/* ----------------------------*/


/* ----------------------------*/

/* .drop{
    width: 100%;
    /* background-color:#62523a; */
/* padding-left: 185px;
    padding-bottom: 10px; 

    position: fixed;
    display: flex;
    justify-content: space-around; 
} */

.see {
    width: 186px;
}

.se {
    padding-bottom: 14px;
}

.bt {
    padding-bottom: 7px;

}

.btn2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #ffffff;
    background-color: #cdcdcd;
    color: #b2abab;
}

.cont2 {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -50px; */
}

#add-startup-btn {
    margin-top: 7%;
    margin-left: 60%;
    height: 45px;
    width: 120px;
    font-weight: 500;
    top: 0;
    position: absolute;
    cursor: pointer;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.638);
    background-color: #089fb3;
    box-shadow: 2px 3px 4px rgb(0, 0, 0, 0.5);
    color: rgb(255, 244, 244);
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.264);
    transition: transform 0.2s ease-out;
}

#add-startup-btn:hover {
    transform: scale(1.2);

}

.cont1 {
    /* background-color: red; */
    display: flex;
    width: 70%;
    margin-top: 7%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    /* width:80%;
    height: 80%; */
    /* border: 2px solid black; */
    /* display: grid;
    grid-template-columns: repeat(3,25%);
    column-gap: 80px;
    row-gap: 15px;
    margin-top: 80px; */
}

.comp {
    margin: 16px;
    width: 300px;
    height: 320px;
    background-color: rgb(231, 231, 223);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(18, 17, 17, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp:hover {
    transform: scale(1.1);
    /* Smooth scaling */
    box-shadow: 4px 4px 8px rgba(18, 17, 17, 0.8);
}

.divimg {
    width: 100%;
    height: 100%;

}

.img1 {
    width: 100%;
    height: 190px;

}

.img {
    width: 100%;
    height: 190px;
    border-radius: 10px;

}

.nm {
    width: 100%;
    height: max-content;
    text-align: start;
    text-decoration: none;
    padding-left: 5px;

}

.nm p {
    /* margin-top: -28px; */
    /* margin-left: -10px; */
    font-size: 0.7rem;
    color: rgb(55, 52, 52);
    padding-left: 4px;
}

.nm h4 {
    color: black;
    padding-left: 5px;
    padding-top: 4px;
}

.term {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 20px;
    /* margin-top: -40px; */
}

.r {
    text-align: start;

}

.r h6 {
    font-size: 0.9rem;
    color: #185c65;
    padding-left: 8px;
    /* margin-top: -8px;     */
}

.r p {
    /* margin-top: -33px; */
    font-size: 0.7rem;
    color: rgb(47, 43, 43);
    padding-left: 8px;
}