 /* * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 } */

 .logo-on-aside{
  /* background-color: aquamarine; */
  height: 60px;
  margin-top: 10%;
  width: 246px;
  /* position: absolute; */
 }

 #logo-on-aside-p{
  padding: 7px 10px 10px 28px;
  font-size: 18px;
  font-weight: 700;
  color: #2c9aa9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
 }

 #logo-on-aside-sub{
  margin-top: -10px;
  margin-left: 9px;
  position: absolute;

  font-size: 0.6rem;
  padding-left: 77px;
  font-weight: 500;
  color: rgb(190, 183, 183);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
 }

 .aside-ul-list{
  margin-top: 20px;
 }

 .aside-bar {
   width: 250px;
   height: 100vh;
   background-color: rgb(62, 60, 60);
   position: absolute;
   margin-top: 0.7%;
   top: 0;
   margin-left: -1px;
   transform: translateX(-100%);
   transition: all 0.4s ease-in-out;
   border: 1px solid rgba(160, 153, 153, 0.656);
   position: fixed;
   top: 69px;
   bottom: 0;
   left: 0;
   z-index: 100;
 }

 .collapse {
   transform: translateX(0%);
 }

 .aside-bar ul li {
   border: 1px solid ;
   list-style: none;
   text-align: center;
   padding: 15px 0px;
   border: 1px solid rgba(131, 127, 127, 0.656);
   /* border-bottom: 1px solid black; */

 }

 .aside-bar ul li a {
   text-decoration: none;
   color: rgb(251, 251, 251);
 }

 .aside-bar ul li:hover {
   background-color: rgb(183, 177, 177);
 }

 #aside-panel{
  color: white;
 }

