
.backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(75, 73, 69, 0.605);
  display: none;
}

.backdrop-open{
  display: block;
  position: fixed;
}