.Admin-root {
  background-color: rgb(255, 255, 255);
}

.admin-img-div{
  width: 100px;
  height: 82px;
  margin-left: 8%;
  position: relative;
  position: fixed;
  top:0;
  /* background-color: #2ada5c; */
  z-index: 2000;
  
}

.admin-img-child-div{
  width: 70%;
  margin: 9px ;
  height: 82%;
  border-radius: 60%;
  background-color: #29729c;
}

#admin-img-id{
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


/* chart css*/

.admin-dashboard-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1400px;
  border-radius: 10px;
  margin: -5% 40px 40px 5%;
  max-height: 1000px;
  border: 1px solid;
  background-color: #566b76c5;
}

.admin-chart-1{
  margin: auto;
  border: 1px solid rgb(61, 60, 60);
  /* margin: 30px 50px 30px 50px; */
  width: 630px;
  height: 400px;

  padding-left: 30px;
  background-color: rgb(235, 232, 232);
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(4, 4, 4, 0.181);
  overflow-y: hidden;
  overflow-x: auto;
}

.admin-chart-2{
  padding: 40px;
  margin: auto;
  border: 1px solid rgb(61, 60, 60);
  margin: 30px 50px 30px 50px;
  max-height: 340px;
  max-width: 700px;
  width: 500px;
  height: 350px;
  background-color: rgb(235, 232, 232);
  /* background: rgb(109, 124, 139);
  background: linear-gradient(121deg, rgba(84,99,115,1) 0%, rgb(116, 22, 9) 77%); */
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(4, 4, 4, 0.181);
}

.admin-chart-3{
  background-color: rgb(235, 232, 232);
  border: 1px solid rgb(61, 60, 60);
  margin: 30px 50px 30px 50px;
  max-height: 300px;
  max-width: 700px;
  width: 550px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(4, 4, 4, 0.181);
}

.admin-chart-4{

  /* background-color: rgb(235, 232, 232); */
  border: 1px solid rgb(61, 60, 60);
  margin: 30px 50px 30px 50px;
  max-height: 300px;
  max-width: 700px;
  background-color: #ebf8f8fa; 
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(4, 4, 4, 0.181);
}



.investor-search-div{
  height: 40px;
  width: 300px;
  /* background-color: rebeccapurple; */
  position:absolute;
  margin-left: 65%;
  z-index: 100;
  margin-top: -2.8%;
}

#search-input{
  height: 32px;
  width: 200px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
}

#search-input:focus-visible{
  border-color: blue;
}

#search-btn-investor{
  height: 32px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  border-color: #2b2a2a;
  font-weight: 500;
  font-size: 15px;
  background-color: #d5d5d5;
}

#search-btn-investor:hover{
  background-color: rgba(15, 15, 255, 0.684);
  color: white;
}

#admin-heading{
  text-shadow: 2px 4px 3px rgb(0,0,0,0.5);
  z-index: 1000;
  position: absolute;
  position: fixed;
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  padding-left: 15px;
  background-color: rgb(68, 185, 189);
  color: #f1efef;
  margin-top: -10%;
  text-shadow: 1px 2px 3px rgb(0,0,0,0.3);
  box-shadow: 2px 3px 4px rgba(69, 69, 69, 0.6);
}

.heading-div-investor-table {
  background-color: #29729c;
  position: absolute;
  text-align: center;
  font-size: 25px;
  margin-top: 100px;
  margin-left: 36px;
  width:  95.5%;
  padding: 10px;
  color: white;
  font-weight: 500;
  z-index: 100;
  border-radius: 8px;

}

.table-root-div {
 margin-top: 15%;
 
}

.table-container {
  border: 2px solid grey;
  border-radius: 9px;
  max-height: 550px; 
  margin-left: 2.5%;
  margin-top: 11.5%;
  max-width: 1450px;
  background-color: rgba(255, 252, 252, 0.849);
  margin-bottom: 5%;
  max-height: 540px; /* Set max-height to limit the container's height */
  overflow-y: auto; /* Enable vertical scrolling */
  
  /* position: relative; */
  overflow-x: hidden;
  box-shadow: 1px 2px 3px rgb(0,0,0,0.5);
 
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: aquamarine; */
}

.admin-table  tr:nth-child(even) {
  background-color: #f9f9f9ef;
}

.admin-table  tr:hover {
  background-color: #f1f1f1;
}



.admin-table th,
.admin-table td {
  border: 1px solid #565555;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.admin-table th {
  background-color: #c9c6c6;
  font-weight: bold;
  width: 100%;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the container */
  z-index: 10; /* Ensure headers stay above the table rows */
}


.delete-div{
  height: 40px;
  width: 100px;
  align-items: center;
  /* background-color: #3f3f3f; */
  margin-top: 100px;
  cursor: pointer;
}

#delete-btn{
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgb(223, 13, 13);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

#delete-btn:hover{
  cursor: pointer;
  background-color: rgba(238, 34, 34, 0.545);
}

/* CustomConfirmAlert.css */

.react-confirm-alert-overlay {
  z-index: 1000;
  position: absolute;
  background: rgba(0, 0, 0, 0.9)
}

.react-confirm-alert {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  padding-bottom: 10px;

}

.react-confirm-alert-body {
  
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(159, 151, 151);
}

.react-confirm-alert-button-group button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.react-confirm-alert-button-group button:hover {
  background-color: #2ada5c;
}

.react-confirm-alert-button-group button:nth-child(2) {
  background-color: #e24024;
}

.react-confirm-alert-button-group button:nth-child(2):hover {
  background-color: #ff2f2f;
}


/*---------invested table css-------*/


.invested-table-heading{
  margin-top: 200px;
  border-radius: 8px;
  margin-left: 4%;
  max-width: 1400px;
  height: 60px;
  background-color: #29729c;
  /* margin-bottom: -5px; */
}

#invested-table-heading-p{
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding: 10px;
  color: rgba(255, 255, 255, 0.985);
}


.table-container-addstartup {
  max-width: 1400px;
  margin: auto;
  overflow-x: auto;
  border: 2px solid rgb(151, 149, 149);
  border-radius: 7px;
  margin-bottom: 5%;
  max-height: 500px; /* Set max-height to limit the container's height */
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 1px 2px 3px rgb(0,0,0,0.5);

}

.table-addstartup {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: center;
  /* margin-top: -2px; */
}

.table-addstartup th,
.table-addstartup td {
  padding: 12px 15px;
  border: 1px solid #565555e9;
}

.table-addstartup th {
  border-radius: 5px;
  background-color: #c9c6c6;
  color: #333;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the container */
  z-index: 100; /* Ensure headers stay above the table rows */
  
  
}

.table-addstartup tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-addstartup tr:hover {
  background-color: #f1f1f1;
}
