.mcont{
  background: -webkit-linear-gradient(360deg,#383836 10%,#4a4a4a 360%); background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%); 
}

.grand-child-div{
    /* height: 200px; */
    /* width: 800px; */
    position: relative;
    max-width:  100%;
    overflow: hidden;
    /* opacity: 0.5; */
    margin-top: -49px;
  
    opacity: 0.7; /* Set a base opacity for the image */
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); /* Safari 4-5, Chrome 1-9 */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  
  #mid-text{
    /* margin-top: 50px; */
    font-size: 50px;
    /* margin-left: 20%; */
    color: rgba(250, 250, 250, 0.881);
    font-weight: 500;
  
    
    
  }
  
  .text-overlay {
    position: absolute; /* Position the text overlay absolutely within the grand-child-div */
    top: 20%; /* Position the text vertically at 50% from the top */
    left: 50%; /* Position the text horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
    /* background-color: rgba(255, 255, 255, 0.626); */
     /* Semi-transparent white background */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Add rounded corners to the text overlay */
    width: 80%;
  }
  /* .imgi{
    width: 100vw;
    height: 100vh;
  } */