/* .alert-div-container {
  margin: 10% 28% 10% 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  border: 2px solid #409bb7;;
  border-radius: 44px;
  background-color: #f9f9f9;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 150px;
  background-color: #409bb7;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  margin-top: -100px;
  margin-bottom: 10px;
}

.checkmark{
  font-size: 100px;
}

.message {
  font-size: 16px;
  color: #333;
  text-align: center;
}  */

/* Alert.css */

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 26px;
}

.alert-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  max-width: 550px;
  height: 90%;
  max-height: 400px;
  border: 3px solid #3894b6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.alert-box p {
  margin: 0 0 50px;
}

.alert-box button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00bbff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.alert-box button:hover {
  background-color: #00bbff96;
}


.checkmark-circle {
  width: 120px;
  /* Increased width */
  height: 120px;
  /* Increased height */
  border-radius: 50%;
  border: 2px solid #00bbff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  /* Center horizontally and add bottom margin */
}

.alert-circle {
  width: 120px;
  /* Increased width */
  height: 120px;
  /* Increased height */
  border-radius: 50%;
  background-color: white;
  /* White background for alert */
  border: 3px solid #00bbff;
  /* Blue border */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  /* Center horizontally and add bottom margin */
}

#checkmark-svg-id {
  fill: rgb(15, 14, 14);
  width: 60px;
  height: 60px;
}