/* alert.css */

.alert-root-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.407); /* Slightly smokey background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.alert-root-div.show {
  opacity: 1;
  transform: scale(1.1);
}

.login-alert {
  width: 450px;
  height: 390px;
  border: 1px solid #f5c6cb;
  background-color: #f9f9f9;
  color: #721c24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0px 3px 4px 2px rgba(0.8, 0, 0, 0.5);
  border:3px solid rgb(255, 230, 67);
}

.login-alert-symbol {
  font-size: 70px;
}

.login-alert-message {
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

#login-alert-note{
  width: 380px;
  padding: 20px 10px 10px 10px;
  font-size: 12px;
  font-weight: 550;
  color: black;
}

.login-alert-close {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c13c49;
  color: #721c24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.login-alert-close:hover {
  background-color: #d8717b;
}