.root-divv{
  background-color: rgba(200, 200, 200, 0.696);
}

.info-container{
  height: 500px;
  /* margin-bottom: 50px; */
 
}

#info-header{
  font-weight: 400;
  font-size: 33px;
  padding-left: 80px;
  padding-top: 60px;
  color: rgba(45, 38, 38, 0.966);
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}


.text-info-container{
  height: 200px;
  /* background-color: aquamarine; */
  margin-top: 50px;
}

.text-info-p{
  color: rgba(0, 0, 0, 0.463);
  padding-top: 10px;
  margin-left: 80px;
  font-size: 22px;
  font-weight: 500;
  font-style:oblique;
}